<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmx.ssm.dao.TBookTypeMapper">
  <resultMap id="BaseResultMap" type="com.xmx.ssm.entity.TBookType">
    <id column="b_book_type_id" jdbcType="INTEGER" property="bBookTypeId" />
    <id column="b_book_type_no" jdbcType="VARCHAR" property="bBookTypeNo" />
    <result column="b_book_type" jdbcType="VARCHAR" property="bBookType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    b_book_type_id, b_book_type_no, b_book_type
  </sql>


  <select id="getTypeNoByTypeName" parameterType="String" resultType="com.xmx.ssm.entity.TBookType">
    select b_book_type_no from t_book_type where b_book_type = #{typeName}
  </select>


<!--  <insert id="insertTBookType" parameterType="com.xmx.ssm.entity.TBookType">-->
<!--    insert into t_book_type (b_book_type_id, b_book_type_no, b_book_type-->
<!--      )-->
<!--    values (#{bBookTypeId,jdbcType=INTEGER}, #{bBookTypeNo,jdbcType=VARCHAR}, #{bBookType,jdbcType=VARCHAR}-->
<!--      )-->
<!--  </insert>-->


  <insert id="insertTBookType" parameterType="com.xmx.ssm.entity.TBookType">
    insert into t_book_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bBookTypeId != null">
        b_book_type_id,
      </if>
      <if test="bBookTypeNo != null">
        b_book_type_no,
      </if>
      <if test="bBookType != null">
        b_book_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bBookTypeId != null">
        #{bBookTypeId,jdbcType=INTEGER},
      </if>
      <if test="bBookTypeNo != null">
        #{bBookTypeNo,jdbcType=VARCHAR},
      </if>
      <if test="bBookType != null">
        #{bBookType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <!--ok-->
  <!--查找有多少条数据-->
  <select id="countByExample"  resultType="java.lang.Long">
    select count(*) from t_book_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>


  <!--ok-->
  <!--查询全部-->
  <select id="selectBooksType" resultType="map">
        select * from t_book_type;
  </select>





  <!--条件查询查询一条-->
  <select id="selectBooksTypeOne"  resultType="map" parameterType="com.xmx.ssm.entity.TBookType">
    select * from t_book_type
    <where>
    <if test="bBookTypeNo != null">
      b_book_type_no=#{bBookTypeNo};
    </if>
    </where>
  </select>


  <delete id="deleteBooksType" parameterType="com.xmx.ssm.entity.TBookType">
 delete from t_book_type
    where
     b_book_type_no = #{bBookTypeNo}
  </delete>




</mapper>