<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmx.ssm.dao.TBookMapper">
  <resultMap id="BaseResultMap" type="com.xmx.ssm.entity.TBook">
    <id column="b_book_id" jdbcType="INTEGER" property="bBookId" />
    <id column="b_book_no" jdbcType="VARCHAR" property="bBookNo" />
    <result column="b_book_name" jdbcType="VARCHAR" property="bBookName" />
    <result column="b_book_author" jdbcType="VARCHAR" property="bBookAuthor" />
    <result column="b_book_number" jdbcType="INTEGER" property="bBookNumber" />
    <result column="b_book_type" jdbcType="VARCHAR" property="bBookType" />
    <result column="b_book_createDate" jdbcType="DATE" property="bBookCreatedate" />
    <result column="b_stop_date" jdbcType="DATE" property="bStopDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    b_book_id, b_book_no, b_book_name, b_book_author, b_book_number, b_book_type, b_book_createDate, 
    b_stop_date
  </sql>
  <select id="selectByExample" parameterType="com.xmx.ssm.entity.TBookExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_book
    where b_book_id = #{bBookId,jdbcType=INTEGER}
      and b_book_no = #{bBookNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from t_book
    where b_book_id = #{bBookId,jdbcType=INTEGER}
      and b_book_no = #{bBookNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xmx.ssm.entity.TBookExample">
    delete from t_book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xmx.ssm.entity.TBook">
    insert into t_book (b_book_id, b_book_no, b_book_name, 
      b_book_author, b_book_number, b_book_type, 
      b_book_createDate, b_stop_date)
    values (#{bBookId,jdbcType=INTEGER}, #{bBookNo,jdbcType=VARCHAR}, #{bBookName,jdbcType=VARCHAR}, 
      #{bBookAuthor,jdbcType=VARCHAR}, #{bBookNumber,jdbcType=INTEGER}, #{bBookType,jdbcType=VARCHAR}, 
      #{bBookCreatedate,jdbcType=DATE}, #{bStopDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.xmx.ssm.entity.TBook">
    insert into t_book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bBookId != null">
        b_book_id,
      </if>
      <if test="bBookNo != null">
        b_book_no,
      </if>
      <if test="bBookName != null">
        b_book_name,
      </if>
      <if test="bBookAuthor != null">
        b_book_author,
      </if>
      <if test="bBookNumber != null">
        b_book_number,
      </if>
      <if test="bBookType != null">
        b_book_type,
      </if>
      <if test="bBookCreatedate != null">
        b_book_createDate,
      </if>
      <if test="bStopDate != null">
        b_stop_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bBookId != null">
        #{bBookId,jdbcType=INTEGER},
      </if>
      <if test="bBookNo != null">
        #{bBookNo,jdbcType=VARCHAR},
      </if>
      <if test="bBookName != null">
        #{bBookName,jdbcType=VARCHAR},
      </if>
      <if test="bBookAuthor != null">
        #{bBookAuthor,jdbcType=VARCHAR},
      </if>
      <if test="bBookNumber != null">
        #{bBookNumber,jdbcType=INTEGER},
      </if>
      <if test="bBookType != null">
        #{bBookType,jdbcType=VARCHAR},
      </if>
      <if test="bBookCreatedate != null">
        #{bBookCreatedate,jdbcType=DATE},
      </if>
      <if test="bStopDate != null">
        #{bStopDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <!--查出有多少条记录-->
  <!--parameterType="com.xmx.ssm.entity.TBookExample"-->
  <select id="countByExample"  resultType="java.lang.Long">
    select count(*) from t_book

<!--    <if test="_parameter != null">-->
<!--      <include refid="Example_Where_Clause" />-->
<!--    </if>-->

  </select>

  <update id="updateByExampleSelective" parameterType="map">
    update t_book
    <set>
      <if test="record.bBookId != null">
        b_book_id = #{record.bBookId,jdbcType=INTEGER},
      </if>
      <if test="record.bBookNo != null">
        b_book_no = #{record.bBookNo,jdbcType=VARCHAR},
      </if>
      <if test="record.bBookName != null">
        b_book_name = #{record.bBookName,jdbcType=VARCHAR},
      </if>
      <if test="record.bBookAuthor != null">
        b_book_author = #{record.bBookAuthor,jdbcType=VARCHAR},
      </if>
      <if test="record.bBookNumber != null">
        b_book_number = #{record.bBookNumber,jdbcType=INTEGER},
      </if>
      <if test="record.bBookType != null">
        b_book_type = #{record.bBookType,jdbcType=VARCHAR},
      </if>
      <if test="record.bBookCreatedate != null">
        b_book_createDate = #{record.bBookCreatedate,jdbcType=DATE},
      </if>
      <if test="record.bStopDate != null">
        b_stop_date = #{record.bStopDate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_book
    set b_book_id = #{record.bBookId,jdbcType=INTEGER},
      b_book_no = #{record.bBookNo,jdbcType=VARCHAR},
      b_book_name = #{record.bBookName,jdbcType=VARCHAR},
      b_book_author = #{record.bBookAuthor,jdbcType=VARCHAR},
      b_book_number = #{record.bBookNumber,jdbcType=INTEGER},
      b_book_type = #{record.bBookType,jdbcType=VARCHAR},
      b_book_createDate = #{record.bBookCreatedate,jdbcType=DATE},
      b_stop_date = #{record.bStopDate,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xmx.ssm.entity.TBook">
    update t_book
    <set>
      <if test="bBookName != null">
        b_book_name = #{bBookName,jdbcType=VARCHAR},
      </if>
      <if test="bBookAuthor != null">
        b_book_author = #{bBookAuthor,jdbcType=VARCHAR},
      </if>
      <if test="bBookNumber != null">
        b_book_number = #{bBookNumber,jdbcType=INTEGER},
      </if>
      <if test="bBookType != null">
        b_book_type = #{bBookType,jdbcType=VARCHAR},
      </if>
      <if test="bBookCreatedate != null">
        b_book_createDate = #{bBookCreatedate,jdbcType=DATE},
      </if>
      <if test="bStopDate != null">
        b_stop_date = #{bStopDate,jdbcType=DATE},
      </if>
    </set>
    where b_book_id = #{bBookId,jdbcType=INTEGER}
      and b_book_no = #{bBookNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xmx.ssm.entity.TBook">
    update t_book
    set b_book_name = #{bBookName,jdbcType=VARCHAR},
      b_book_author = #{bBookAuthor,jdbcType=VARCHAR},
      b_book_number = #{bBookNumber,jdbcType=INTEGER},
      b_book_type = #{bBookType,jdbcType=VARCHAR},
      b_book_createDate = #{bBookCreatedate,jdbcType=DATE},
      b_stop_date = #{bStopDate,jdbcType=DATE}
    where b_book_id = #{bBookId,jdbcType=INTEGER}
      and b_book_no = #{bBookNo,jdbcType=VARCHAR}
  </update>
  <select id="findBooksAll" resultType="map">
    select * from t_book
  </select>

  <delete id="deleteBooksNo" parameterType="com.xmx.ssm.entity.TBook">
DELETE FROM t_book  WHERE b_book_no=#{bBookNo}
  </delete>


<insert id="insertBook" parameterType="com.xmx.ssm.entity.TBook">
  insert into t_book
  <trim prefix="(" suffix=")" suffixOverrides=",">
    <if test="bBookId != null">
      b_book_id,
    </if>
    <if test="bBookNo != null">
      b_book_no,
    </if>
    <if test="bBookName != null">
      b_book_name,
    </if>
    <if test="bBookAuthor != null">
      b_book_author,
    </if>
    <if test="bBookNumber != null">
      b_book_number,
    </if>
    <if test="bBookType != null">
      b_book_type,
    </if>
    <if test="bBookCreatedate != null">
      b_book_createDate,
    </if>
    <if test="bStopDate != null">
      b_stop_date,
    </if>
  </trim>
  <trim prefix="values (" suffix=")" suffixOverrides=",">
    <if test="bBookId != null">
      #{bBookId,jdbcType=INTEGER},
    </if>
    <if test="bBookNo != null">
      #{bBookNo,jdbcType=VARCHAR},
    </if>
    <if test="bBookName != null">
      #{bBookName,jdbcType=VARCHAR},
    </if>
    <if test="bBookAuthor != null">
      #{bBookAuthor,jdbcType=VARCHAR},
    </if>
    <if test="bBookNumber != null">
      #{bBookNumber,jdbcType=INTEGER},
    </if>
    <if test="bBookType != null">
      #{bBookType,jdbcType=VARCHAR},
    </if>
    <if test="bBookCreatedate != null">
      #{bBookCreatedate,jdbcType=DATE},
    </if>
    <if test="bStopDate != null">
      #{bStopDate,jdbcType=DATE},
    </if>
  </trim>
</insert>
<update id="updateBook" parameterType="com.xmx.ssm.entity.TBook">
  update t_book
  <set>
    <if test="bBookName != null">
      b_book_name = #{bBookName,jdbcType=VARCHAR},
    </if>
    <if test="bBookAuthor != null">
      b_book_author = #{bBookAuthor,jdbcType=VARCHAR},
    </if>
    <if test="bBookNumber != null">
      b_book_number = #{bBookNumber,jdbcType=INTEGER},
    </if>
    <if test="bBookType != null">
      b_book_type = #{bBookType,jdbcType=VARCHAR},
    </if>
    <if test="bBookCreatedate != null">
      b_book_createDate = #{bBookCreatedate,jdbcType=DATE},
    </if>
    <if test="bStopDate != null">
      b_stop_date = #{bStopDate,jdbcType=DATE},
    </if>
  </set>
  and b_book_no = #{bBookNo,jdbcType=VARCHAR}
</update>



<select id="findBooksOne" parameterType="com.xmx.ssm.entity.TBook" resultType="map">

</select>

</mapper>