<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmx.ssm.dao.UserMapper">

    <resultMap id="roleMap" type="com.xmx.ssm.entity.User">
        <id property="id" column="id"/>
        <result property="userType" column="user_type"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="mobile" column="mobile"/>
        <result property="address" column="address"/>
        <result property="city" column="city"/>
    </resultMap>
    <select id="findAll" resultMap="roleMap">
        select * from t_user;
    </select>

    <select id="findUserById" parameterType="int" resultMap="roleMap">
        select * from t_user where id=#{id};
    </select>

    <select id="findUserByName" parameterType="String" resultMap="roleMap">
        select * from t_user where user_name=#{username};
    </select>

    <insert id="insertUser" parameterType="com.xmx.ssm.entity.User">
        insert into t_user(user_type,user_name,password,email,mobile,address,city) value(#{user.userType},#{user.userName},#{user.password},#{user.email},
        #{user.mobile},#{user.address},#{user.city})
    </insert>

    <delete id="deleteUserByName" parameterType="String">
        delete from t_user where user_name=${name}
    </delete>

    <update id="updateUser" parameterType="com.xmx.ssm.entity.User">
        update t_user set user_type = #{user.userType},user_name=#{user.userName},password=#{user.password},email=#{user.email},
        mobile=#{user.mobile},address=#{user.address},city=#{user.city} where id=#{user.id}
    </update>

</mapper>